<html ng-app="app">

<head>


    <!-- load angular and angular route via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <script src="script.js"></script>
</head>
<style>
    body {
        font-family: Arial;
    }

    header {
        text-align: center;
    }

    .container {
        padding: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
</style>

<body ng-controller="MainController as vm">

    <!-- HEADER  -->
    <header>
        <h3>Air Wonder 0.01</h3>
    </header>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div class="container">
        <select ng-model="vm.selectedTrip" ng-options="option.value as option.name for option in vm.dropdown" ng-change="vm.OnChange();">
            <option value=''>Type of trip</option>
        </select>
    </div>
    <div class="container" ng-switch="vm.selectedTrip">

        <div ng-switch-when="oneway">
            <input type="text" ng-model="vm.places.i1" placeholder="Index  #1" />
            <input type="text" ng-model="vm.places.i2" placeholder="Index  #2" />
        </div>
        <div ng-switch-when="round">
            <input type="text" ng-model="vm.places.i1" placeholder="Index  #1" />
            <input type="text" ng-model="vm.places.i2" placeholder="Index  #2" />
            <input type="text" ng-model="vm.places.i3" placeholder="Index  #3" />
        </div>
        <div ng-switch-when="multi">
            <input type="text" ng-model="vm.places.i1" placeholder="Index  #1" />
            <input type="text" ng-model="vm.places.i2" placeholder="Index  #2" />
            <input type="text" ng-model="vm.places.i3" placeholder="Index  #3" />

        </div>
        <div ng-switch-when="tour">
            <input type="text" ng-model="vm.places.i1" placeholder="Index  #1" />
            <input type="text" ng-model="vm.places.i2" placeholder="Index  #2" />
            <input type="text" ng-model="vm.places.i3" placeholder="Index  #3" />
            <input type="text" ng-model="vm.places.i4" placeholder="Index  #4" />
        </div>
        <div ng-switch-default>
            <input type="text" ng-model="vm.places.i1" placeholder="Index  #1" />
            <input type="text" ng-model="vm.places.i2" placeholder="Index  #2" />

        </div>
    </div>

</body>

</html>